*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form{
    display: grid;
    border: 2px solid black;
    padding: 20px;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
    background-color: aquamarine;
}

input{
    border-radius: 5px;
}
#boton-enviar{
    grid-column: 1/3;
    width: fit-content;
    justify-self: center;
}
#comentarios{
    width: 100$;
    grid-column: 2/3;
}